<div class="sidebar">
    <div class="sidebar-collapse">
        <div class="sidebar-menu">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-sidebar">
                    <li class="nav-parent">
                        <a>
                            <span class="text">系统设置</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="@Url.Action("Index","User")">
                                    <span class="text">用户管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <span class="text">客户管理</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="@Url.Action("Index","Customer")">
                                    <span class="text">客户资料管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","CustomerCategory")">
                                    <span class="text">客户分类管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","TelephoneRecording")">
                                    <span class="text">电话录音管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="sidebar-footer">
        【<span>电话营销管理系统 </span><a href="" target="_blank"></a>】
    </div>
</div>