@using JJsites.Configs
@using JJsites.ViewModels
@using JJsoft.Infrastructure.Extensions
@model PrintViewModel<BudgetTargetPrintViewModel>
    @{
        var model = Model ?? new PrintViewModel<BudgetTargetPrintViewModel>();
        var models = model.PrintViewModels ?? new List<BudgetTargetPrintViewModel>();
        var paperWidth = model.PaperWidth;
        var paperHeight = model.PaperHeight;
    }

    @*<link href="~/Lib/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
        <link href="~/Lib/select2-extend.css" rel="stylesheet" />

        <link href="~/Lib/JqueryEasyui/1.5.1/themes/default/easyui.css" rel="stylesheet" />
        <link href="~/Areas/AdminManager/Content/budgetTarget-edit.css" rel="stylesheet" />*@

    <link href="~/Areas/AdminManager/Content/budgetTarget-print.css" rel="stylesheet" />
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div id="printContent">
                    @foreach (var data in models)
                    {
                        <div class="Section0" style="layout-grid: 16.5000pt;">
                            <p class="MsoNormal" align="center" style="margin-left: 0.0000pt; margin-right: 0.0000pt; mso-char-indent-count: 0.0000; mso-pagination: none; mso-para-margin-left: 0.0000gd; mso-para-margin-right: 0.0000gd; text-align: center; text-autospace: ideograph-numeric; text-indent: 0.0000pt;">
                                <u>
                                    <span style="color: rgb(49, 135, 155); font-family: 微软雅黑; font-size: 20.0000pt; mso-font-kerning: 1.0000pt; mso-spacerun: 'yes'; text-decoration: underline; border-bottom: 1px solid rgb(49, 135, 155);">
                                        <font face="微软雅黑">
                                            (@AppSettings.AuthorizedUserName)预算追加（减）通知单
                                        </font>
                                    </span>
                                </u>
                            </p>
                            <p class="MsoNormal" style="line-height: 20.0000pt; margin-left: 0.0000pt; margin-right: 0.0000pt; mso-char-indent-count: 0.0000; mso-line-height-rule: exactly; mso-pagination: none; mso-para-margin-left: 0.0000gd; mso-para-margin-right: 0.0000gd; text-align: left; text-autospace: ideograph-numeric; text-indent: 0.0000pt;">
                                <span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 9.0000pt; mso-font-kerning: 1.0000pt; mso-spacerun: 'yes';"><font face="宋体">受文单位：@data.BudgetUnitName</font></span><span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 9.0000pt; mso-font-kerning: 1.0000pt; mso-spacerun: 'yes';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@data.OnPosted.ToDateString()&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;追加号：@data.IssueNumber&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金额：@data.AmountSpecificationDescription</span><span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 9.0000pt; mso-font-kerning: 1.0000pt; mso-spacerun: 'yes';"><o:p></o:p></span>
                            </p><table class="MsoTableGrid" style="border-collapse: collapse; mso-padding-alt: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; mso-table-layout-alt: fixed; width: 506.9000pt;">
                                <tr style="height: 20.7500pt;">
                                    <td width="293" valign="center" colspan="3" style="border-bottom: 1.0000pt solid rgb(49, 135, 155); border-left: 1.0000pt solid rgb(49, 135, 155); border-right: 1.0000pt solid rgb(49, 135, 155); border-top: 1.0000pt solid rgb(49, 135, 155); mso-border-bottom-alt: 0.5000pt solid rgb(49, 135, 155); mso-border-left-alt: 0.5000pt solid rgb(49, 135, 155); mso-border-right-alt: 0.5000pt solid rgb(49, 135, 155); mso-border-top-alt: 0.5000pt solid rgb(49, 135, 155); padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; width: 219.7500pt;">
                                        <p class="MsoNormal" align="center" style="line-height: 12.0000pt; margin-left: 0.0000pt; margin-right: 0.0000pt; mso-char-indent-count: 0.0000; mso-line-height-rule: exactly; mso-pagination: none; mso-para-margin-left: 0.0000gd; mso-para-margin-right: 0.0000gd; text-align: center; text-autospace: ideograph-numeric; text-indent: 0.0000pt;">
                                            <span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 9.0000pt; mso-font-kerning: 1.0000pt; mso-spacerun: 'yes';">预算科目</span><span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 9.0000pt; mso-font-kerning: 1.0000pt;"><o:p></o:p></span>
                                        </p>
                                    </td>
                                    <td width="279" valign="center" style="border-bottom: 1.0000pt solid rgb(49, 135, 155); border-left: none; border-right: 1.0000pt solid rgb(49, 135, 155); ; border-top: 1.0000pt solid rgb(49, 135, 155); ; mso-border-bottom-alt: 0.5000pt solid rgb(49, 135, 155); mso-border-left-alt: none; mso-border-right-alt: 0.5000pt solid rgb(49, 135, 155); mso-border-top-alt: 0.5000pt solid rgb(49, 135, 155); padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; width: 209.2500pt;">
                                        <p class="MsoNormal" align="center" style="line-height: 12.0000pt; margin-left: 0.0000pt; margin-right: 0.0000pt; mso-char-indent-count: 0.0000; mso-line-height-rule: exactly; mso-pagination: none; mso-para-margin-left: 0.0000gd; mso-para-margin-right: 0.0000gd; text-align: center; text-autospace: ideograph-numeric; text-indent: 0.0000pt;">
                                            <span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 9.0000pt; mso-font-kerning: 1.0000pt; mso-spacerun: 'yes';">摘要</span><span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 9.0000pt; mso-font-kerning: 1.0000pt;"><o:p></o:p></span>
                                        </p>
                                    </td>
                                    <td width="103" valign="center" style="border-bottom: 1.0000pt solid rgb(49, 135, 155); border-left: none; border-right: 1.0000pt solid rgb(49, 135, 155); ; border-top: 1.0000pt solid rgb(49, 135, 155); ; mso-border-bottom-alt: 0.5000pt solid rgb(49, 135, 155); mso-border-left-alt: none; mso-border-right-alt: 0.5000pt solid rgb(49, 135, 155); mso-border-top-alt: 0.5000pt solid rgb(49, 135, 155); padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; width: 77.9000pt;">
                                        <p class="MsoNormal" align="center" style="line-height: 12.0000pt; margin-left: 0.0000pt; margin-right: 0.0000pt; mso-char-indent-count: 0.0000; mso-line-height-rule: exactly; mso-pagination: none; mso-para-margin-left: 0.0000gd; mso-para-margin-right: 0.0000gd; text-align: center; text-autospace: ideograph-numeric; text-indent: 0.0000pt;">
                                            <span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 9.0000pt; mso-font-kerning: 1.0000pt; mso-spacerun: 'yes';">追加</span><span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 9.0000pt; mso-font-kerning: 1.0000pt;">(</span><span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 9.0000pt; mso-font-kerning: 1.0000pt;">减</span><span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 9.0000pt; mso-font-kerning: 1.0000pt; mso-spacerun: 'yes';">)预算数</span><span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 9.0000pt; mso-font-kerning: 1.0000pt;"><o:p></o:p></span>
                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 79.5000pt;">
                                    <td width="28" valign="top" style="border-bottom: 1.0000pt solid rgb(49, 135, 155); border-left: 1.0000pt solid rgb(49, 135, 155); border-right: 1.0000pt solid rgb(49, 135, 155); border-top: none; mso-border-bottom-alt: 0.5000pt solid rgb(49, 135, 155); mso-border-left-alt: 0.5000pt solid rgb(49, 135, 155); mso-border-right-alt: 0.5000pt solid rgb(49, 135, 155); ; mso-border-top-alt: 0.5000pt solid rgb(49, 135, 155); padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; width: 21.0000pt;">
                                        <p class="MsoNormal" style="line-height: 20.0000pt; margin-left: 0.0000pt; margin-right: 0.0000pt; mso-char-indent-count: 0.0000; mso-line-height-rule: exactly; mso-pagination: none; mso-para-margin-left: 0.0000gd; mso-para-margin-right: 0.0000gd; text-align: left; text-autospace: ideograph-numeric; text-indent: 0.0000pt;">
                                            <span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 10.0000pt; mso-font-kerning: 1.0000pt; mso-spacerun: 'yes';">类款项</span><span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 10.0000pt; mso-font-kerning: 1.0000pt;"><o:p></o:p></span>
                                        </p>
                                    </td>
                                    <td width="88" valign="top" style="border-bottom: 1.0000pt solid rgb(49, 135, 155); border-left: none; border-right: 1.0000pt solid rgb(49, 135, 155); ; border-top: none; ; mso-border-bottom-alt: 0.5000pt solid rgb(49, 135, 155); mso-border-left-alt: none; mso-border-right-alt: 0.5000pt solid rgb(49, 135, 155); ; mso-border-top-alt: 0.5000pt solid rgb(49, 135, 155); padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; width: 66.0000pt;">
                                        @foreach (var item in data.FunctionSubjects)
                                        {
                                            <p class="MsoNormal" style="line-height: 20.0000pt; margin-left: 0.0000pt; margin-right: 0.0000pt; mso-char-indent-count: 0.0000; mso-line-height-rule: exactly; mso-pagination: none; mso-para-margin-left: 0.0000gd; mso-para-margin-right: 0.0000gd; text-align: left; text-autospace: ideograph-numeric; text-indent: 0.0000pt;">
                                                <span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 10.0000pt; mso-font-kerning: 1.0000pt; mso-spacerun: 'yes';">@Html.Raw(item.CustomedNumberWithHtmlSpaces)</span><span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 10.0000pt; mso-font-kerning: 1.0000pt;"><o:p></o:p></span>
                                            </p>
                                        }
                                    </td>
                                    <td width="177" valign="top" style="border-bottom: 1.0000pt solid rgb(49, 135, 155); border-left: none; border-right: 1.0000pt solid rgb(49, 135, 155); ; border-top: none; ; mso-border-bottom-alt: 0.5000pt solid rgb(49, 135, 155); mso-border-left-alt: none; mso-border-right-alt: 0.5000pt solid rgb(49, 135, 155); ; mso-border-top-alt: 0.5000pt solid rgb(49, 135, 155); padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; width: 132.7500pt;">
                                        @foreach (var item in data.FunctionSubjects)
                                        {
                                            <p class="MsoNormal" style="line-height: 20.0000pt; margin-left: 0.0000pt; margin-right: 0.0000pt; mso-char-indent-count: 0.0000; mso-line-height-rule: exactly; mso-pagination: none; mso-para-margin-left: 0.0000gd; mso-para-margin-right: 0.0000gd; text-align: left; text-autospace: ideograph-numeric; text-indent: 0.0000pt;">
                                                <span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 10.0000pt; mso-font-kerning: 1.0000pt; mso-spacerun: 'yes';">@Html.Raw(item.NameWithHtmlSpaces)</span><span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 10.0000pt; mso-font-kerning: 1.0000pt;"><o:p></o:p></span>
                                            </p>
                                        }
                                    </td>
                                    <td width="279" valign="center" style="border-bottom: 1.0000pt solid rgb(49, 135, 155); border-left: none; border-right: 1.0000pt solid rgb(49, 135, 155); border-top: 1.0000pt solid rgb(49, 135, 155); ; mso-border-bottom-alt: 0.5000pt solid rgb(49, 135, 155); mso-border-left-alt: none; mso-border-right-alt: 0.5000pt solid rgb(49, 135, 155); mso-border-top-alt: 0.5000pt solid rgb(49, 135, 155); padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; width: 209.2500pt;">
                                        <p class="MsoNormal" align="justify" style="line-height: 12.0000pt; margin-left: 0.0000pt; margin-right: 0.0000pt; mso-char-indent-count: 0.0000; mso-line-height-rule: exactly; mso-pagination: none; mso-para-margin-left: 0.0000gd; mso-para-margin-right: 0.0000gd; text-align: justify; text-autospace: ideograph-numeric; text-indent: 0.0000pt; text-justify: inter-ideograph;">
                                            <span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 10.0000pt; mso-font-kerning: 1.0000pt; mso-spacerun: 'yes';">@data.Summary</span><span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 10.0000pt; mso-font-kerning: 1.0000pt;"><o:p></o:p></span>
                                        </p>
                                    </td>
                                    <td width="103" valign="center" style="border-bottom: 1.0000pt solid rgb(49, 135, 155); border-left: none; border-right: 1.0000pt solid rgb(49, 135, 155); ; border-top: 1.0000pt solid rgb(49, 135, 155); ; mso-border-bottom-alt: 0.5000pt solid rgb(49, 135, 155); mso-border-left-alt: none; mso-border-right-alt: 0.5000pt solid rgb(49, 135, 155); mso-border-top-alt: 0.5000pt solid rgb(49, 135, 155); padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; width: 77.9000pt;">
                                        <p class="MsoNormal" align="right" style="margin-left: 0.0000pt; margin-right: 0.0000pt; mso-char-indent-count: 0.0000; mso-pagination: none; mso-para-margin-left: 0.0000gd; mso-para-margin-right: 0.0000gd; text-align: right; text-autospace: ideograph-numeric; text-indent: 0.0000pt;">
                                            <span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 10.0000pt; mso-font-kerning: 1.0000pt; mso-spacerun: 'yes';">&#165;@data.PrintTotalAmount.ToString("N2")</span><span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 10.0000pt; mso-font-kerning: 1.0000pt;"><o:p></o:p></span>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                            <p class="MsoNormal" style="line-height: 20.0000pt; margin-left: 0.0000pt; margin-right: 0.0000pt; mso-char-indent-count: 0.0000; mso-line-height-rule: exactly; mso-pagination: none; mso-para-margin-left: 0.0000gd; mso-para-margin-right: 0.0000gd; text-align: left; text-autospace: ideograph-numeric; text-indent: 0.0000pt;">
                                <span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 10.0000pt; mso-font-kerning: 1.0000pt; mso-spacerun: 'yes';"><font face="宋体">局长：</font></span><span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 10.0000pt; mso-font-kerning: 1.0000pt; mso-spacerun: 'yes';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font face="宋体">股长：</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font face="宋体">制表：张伟</font></span><span style="color: rgb(49, 135, 155); font-family: 宋体; font-size: 10.0000pt; mso-font-kerning: 1.0000pt; mso-spacerun: 'yes';"><o:p></o:p></span>
                            </p>
                        </div>
                        <div style="page-break-after: always;"></div>
                    }
                </div>

                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button type="button" class="btn btn-success u-btn" id="btnPrint">
                            <i class="fa fa-save" aria-hidden="true"></i>
                            打印
                        </button>
                        <button type="button" class="btn btn-success u-btn" id="btnGoBack">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            返回
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="~/Lib/PrintArea2.4.0/jquery.PrintArea.js"></script>
    @*<script src="~/Lib/JQPrint/jquery.jqprint-0.3.js"></script>
        <script src="~/Lib/JQPrint/browser.js"></script>*@
    <script>
        $('#btnPrint').click(function () {
            $('#printContent').printArea();

            //var id = $("#printContent").attr("data-id");
            //var url = "/Admin/Manager/BudgetTarget/ChangeState/" + id;
            //$.post(url, null, function (data) {
            //    if(data.Success){}
            //        //修改状态
            //},"json");
        });
        $('#btnGoBack').click(function () {
            window.history.go(-1);
        });
    </script>
