@{
    ViewBag.Title = "主页";
    //Layout = "~/Areas/SystemManage/Views/Shared/_Layout.cshtml";
    //var currentUser = ViewBag.CurrentUser as OnlineUser ?? new OnlineUser();
}

<div class="CurrentPosition">
    <img src="~/Content/Images/icon_currentPosition.png" />
    当前位置：后台管理系统 > @ViewBag.Title
</div>
<div style="padding: 15px;">
    @*亲爱的管理员<span style="color: #008b8b">@currentUser.NickName</span>,欢迎使用本系统！*@
</div>