.u-select2{
    width:100%!important;
}

.conditional .form-group label {
    float: left;
    line-height: 25px;
}

.conditional .form-group > div {
    width: 100%;
    padding-left: 80px;
}

.conditional .input-group {
    float: left;
    margin-right: 30px;
}

a.u-unlock {
    display: inline-block;
    color: #C16B01;
}

/*多选条件*/
.conditional ul {
    padding: 0;
}

.conditional ul li {
    list-style: none;
    line-height: 22px;
}

.conditional ul li i {
    float: right;
    cursor: pointer;
}

.bs-checkbox {
    vertical-align:middle!important;
}