.u-select2{
    width:100%!important;
}

.conditional .form-group label {
    float: left;
    line-height: 25px;
}

.conditional .form-group > div {
    width: 100%;
    padding-left: 100px;
}

.conditional .input-group {
    float: left;
    margin-right: 30px;
}