<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="LoginProvider" value="Session" />
  <add key="IsLog" value="true" />
  <add key="CommandTimeout" value="180" />
  <add key="IsIPFilter" value="false" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="TelemarketingManagement" />
  <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
  <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
  <add key="owin:AutomaticAppStartup" value="false" />
</appSettings>