<link href="~/Content/Themes/PartialHeader.css" rel="stylesheet"/>

<header>
    
    <div class="navbar" role="navigation">

        <div class="container-fluid container-nav">
            <div class="nav navbar-nav navbar-actions navbar-left">
                <a class="sidebar-header" href="/Admin/Manager/">
                    <img src="~/Content/Images/logoForHead.png" alt="logo"/>
                </a>
            </div>
            <div class="navbar-right">
            </div>
        </div>
    </div>

</header>