<link href="~/Content/Themes/PlateShared/PcHungRight.css" rel="stylesheet" />

<section class="Hung">
    <img id="BackToTop" src="~/Content/Images/Icon/icon_hungLogo.png" alt="回到顶部" />
    <a href="/Consultation" class="Circular ZiXun" title="点击咨询">
        <img src="~/Content/Images/Icon/icon_hung_zixun.png" alt="点击咨询" />
    </a>
    <div class="Circular Tel">
        <img src="~/Content/Images/Icon/icon_hung_tel.png" />
        <div class="Numbers">
            189 9077 9510<br />189 9077 9519
        </div>
    </div>
    <div class="Circular Qq">
        <img src="~/Content/Images/Icon/icon_hung_qq.png" alt="QQ" />
        <div class="Numbers">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=279582797&amp;site=qq&amp;menu=yes" _hover-ignore="1">QQ咨询</a>
        </div>
    </div>
    <div class="Circular Wechat">
        <img src="~/Content/Images/Icon/icon_hung_wechat.png" />
        <div class="Images">

            <img src="~/Content/Images/Image/image_weixin_01.jpg" alt="财政预算美容微信公众号" />
            <img src="~/Content/Images/Image/image_weixin_02.jpg" alt="财政预算医学美容微信公众号" />
        </div>
    </div>
    <div class="WorkTime">
        <span>工作时间</span><br />
        09:00-12:00<br />
        13:00-1800
    </div>
</section>

<script type="text/javascript">
    $("#BackToTop").click(function () {
        var speed = 500; //滑动的速度
        $('body, html').animate({ scrollTop: 0 }, speed);

        $('.ddw').val(0);
        $('.num_box').animate({ 'bottom': 0 }, 1000);
        return false;
    });
</script>



@*<li>
    <a href="/Admin/Manager/">
        <i class="fa fa-laptop" aria-hidden="true"></i>
        <span class="text">首页</span>
    </a>
</li>
<li class="nav-parent">
    <a><i class="fa fa-copy" aria-hidden="true"></i><span class="text">基础资料</span></a>
    <ul class="nav nav-children">
        <li><a href="/Admin/Manager/BasicData"><span class="text">基础资料导入</span></a></li>
        <li><a href="/Admin/Manager/AccountingSubject"><span class="text">功能科目</span></a></li>
        <li><a href="/Admin/Manager/DocumentNumber"><span class="text">文号</span></a></li>
        <li><a href="/Admin/Manager/ExecutionMode"><span class="text">执行方式</span></a></li>
        <li><a href="/Admin/Manager/Department"><span class="text">业务处室</span></a></li>
        <li><a href="/Admin/Manager/FunctionSubject"><span class="text">功能科目</span></a></li>
        <li><a href="/Admin/Manager/EconomicsSubject"><span class="text">经济科目</span></a></li>
        <li><a href="/Admin/Manager/EconomicsCategory"><span class="text">经济分类</span></a></li>
        <li><a href="/Admin/Manager/FunctionCategory"><span class="text">功能分类</span></a></li>
        <li><a href="/Admin/Manager/InfrastructureSymbol"><span class="text">基建标志</span></a></li>
        <li><a href="/Admin/Manager/MoneyNature"><span class="text">资金性质</span></a></li>
        <li><a href="/Admin/Manager/MoneyCategory"><span class="text">资金分类</span></a></li>
        <li><a href="/Admin/Manager/Project"><span class="text">项目</span></a></li>
        <li><a href="/Admin/Manager/ProjectCategory"><span class="text">项目归类</span></a></li>
        <li><a href="/Admin/Manager/PurchaseSymbol"><span class="text">采购标志</span></a></li>
        <li><a href="/Admin/Manager/RevenueAndExpenditureManagementStructure"><span class="text">收支管理</span></a></li>
        <li><a href="/Admin/Manager/SignAndIssueLeader"><span class="text">签发领导</span></a></li>
        <li><a href="/Admin/Manager/TargetManageDepartment"><span class="text">指标管理科室</span></a></li>
        <li><a href="/Admin/Manager/TargetNature"><span class="text">指标性质</span></a></li>
        <li><a href="/Admin/Manager/BudgetSource"><span class="text">指标来源</span></a></li>
        <li><a href="/Admin/Manager/ManagementDocumentNumber"><span class="text">管理文号</span></a></li>
        <li><a href="/Admin/Manager/BudgetUnit"><span class="text">预算单位</span></a></li>
        <li><a href="/Admin/Manager/TaxAndSpendSymbol"><span class="text">以收定支</span></a></li>
        <li><a href="/Admin/Manager/TransferSymbol"><span class="text">转拨标志</span></a></li>
    </ul>
</li>
<li class="nav-parent">
    <a><i class="fa fa-tasks" aria-hidden="true"></i><span class="text">指标资料</span></a>
    <ul class="nav nav-children"><li><a href="/Admin/Manager/BudgetTarget"><span class="text">指标编辑</span></a></li>
    <li><a href="/Admin/Manager/BudgetTargetImport"><span class="text">指标导入</span></a></li></ul>
</li>
<li class="nav-parent">
    <a><i class="fa fa-list-alt" aria-hidden="true"></i><span class="text">报表</span></a>
    <ul class="nav nav-children">
        <li><a href="/Admin/Manager/BudgetUnitBudgetSourceReport"><span class="text">单位分指标来源汇总表</span></a></li>
        <li><a href="/Admin/Manager/SubjectEconomicsCategoryReport"><span class="text">科目分经济分类汇总表</span></a></li>
        <li><a href="/Admin/Manager/SubjectBudgetUnitReport"><span class="text">科目单位分级拨付情况汇总表</span></a></li>
        <li><a href="/Admin/Manager/BudgetUnitSubjectReport"><span class="text">单位科目分级汇总表</span></a></li>
    </ul>
</li>*@
