/*更改全局样式*/
.main {
    margin: 10px 25px 10px 25px !important;
    min-height: 400px !important;
}

#footer {
    height: 30px;
    line-height: 30px;
    display: block !important;
    opacity: 1;
    background: url(/Content/Images/back_bottom_changepasssword.jpg) repeat-x;
}

.container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

    .container .reset-password {
        width: 380px;
        z-index: 999;
        margin: auto;
    }

        .container .reset-password .title {
            font-size: 13px;
            color: #999;
        }

        .container .reset-password .title img {
            float: left;
            margin-right: 5px;
        }

        .container .reset-password .title span {
            font-size: 16px;
            color: #666;
        }

        .container .reset-password .input-box {
            margin-top: 25px;
        }

            .container .reset-password .input-box input {
                width: 245px;
                height: 35px;
                font-size: 14px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                border-radius: 2px;
                border: 1px solid #cdcdcd;
                background: transparent;
                padding: 0 5px;
                box-shadow: inset 3px 3px 3px #f1f1f1;
            }

            .container .reset-password .input-box label {
                width: 85px;
                text-align: right;
                margin-right: 10px;
                color: #666;
                font-size: 14px;
                font-weight: normal;
            }

            .container .reset-password .input-box .result-message {
                color: #e90000;
            }

            .container .reset-password .input-box .btn {
                width: 102px;
                height: 35px;
                margin-left: 95px;
            }

            .container .reset-password .input-box > a {
                font-size:13px;
                color: #3d73bb;
                margin-left: 30px;
            }